.header {
    display: flex;
    flex: 1;
}

.carousel {
    height: 91.8vh;
}

.social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: rotate(-90deg);
    position: absolute;
    height: 10vh;
    z-index: 20;
}

.intro-text {
    height: 91.8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-text h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 5rem;
    margin-top: -120px;
    letter-spacing: 0.5px;

}